certifi==2019.3.9
cycler==0.10.0
Django==2.2
django-rest-auth==0.9.5
djangorestframework==3.9.2
matplotlib==2.0.2
numpy==1.13.1
pipenv==2018.11.26
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
six==1.10.0
sqlparse==0.3.0
virtualenv==16.4.3
virtualenv-clone==0.5.3
